In [1]:
my_integer = 50

Header 4

In [4]:
print(my_integer, type(my_integer))

50 <class 'int'>

In [5]:
one = 1

In [8]:
my_float = 1.0

In [9]:
print(my_float)

1.0

In [10]:
print(type(my_float))

<class 'float'>

In [12]:
my_float = float(1)

In [14]:
print(type(my_float))

<class 'float'>

In [15]:
my_list = [1,2,3]

In [17]:
my_tuple= 'I', 'have', 30, 'cats'

In [18]:
print(my_tuple)

('I', 'have', 30, 'cats')

In [19]:
my_tuple=('I', 'have', 30, 'cats')

In [21]:
print(my_tuple)

('I', 'have', 30, 'cats')

In [22]:
animal_list = ['cats', 'dogs', 'dogs', 'dogs', 'lizards', 'sponges', 'cows', 'bats', 'sponges']

In [23]:
animal_set = set(animal_list)

In [24]:
animal_set

{'bats', 'cats', 'cows', 'dogs', 'lizards', 'sponges'}

In [25]:
things_i_like = {'dogs', 7, 'the number 4', 4, 4, 4, 42, 'lizards', 'man I just LOVE the number 4'}

In [27]:
print(type(things_i_like))

<class 'set'>

In [28]:
print bool('')

SyntaxError: invalid syntax (<ipython-input-28-1efd3586fde4>, line 1)

In [34]:
print(bool([1,2,3]))

True