In [1]:
import pandas as pd
import numpy as np
import torch
import torch.nn.init as init

train = pd.read_csv('./train.csv', engine='python')
test = pd.read_csv('./test.csv', engine='python')

In [2]:
# train.iloc[:, 0:5]
train.loc[:5, ['price', 'yr_built']]

      price  yr_built
0  221900.0      1955
1  180000.0      1933
2  510000.0      1987
3  257500.0      1995
4  291850.0      1963
5  662500.0      1965

In [3]:
train[['bedrooms', 'price']][:5]

   bedrooms     price
0         3  221900.0
1         2  180000.0
2         3  510000.0
3         3  257500.0
4         3  291850.0

In [364]:
train.loc[:, ['yr_built']][:5]

   yr_built
0      1955
1      1933
2      1987
3      1995
4      1963

In [365]:
a = train['yr_built'].apply(lambda x: 2019-x)
# b = train['yr_renovated'].apply(lambda x: 0 if x==0 else 2019-x)
# train.loc[:, ['yr_built', 'yr_renovated']] = [a,b]
# train
train

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2,2,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
3,3,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
4,4,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
5,5,20150403T000000,662500.0,3,2.50,3560,9796,1.0,0,0,...,8,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925
6,6,20140527T000000,468000.0,2,1.00,1160,6000,1.0,0,0,...,7,860,300,1942,0,98115,47.6900,-122.292,1330,6000
7,7,20140528T000000,310000.0,3,1.00,1430,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
8,8,20141007T000000,400000.0,3,1.75,1370,9680,1.0,0,0,...,7,1370,0,1977,0,98074,47.6127,-122.045,1370,10208
9,9,20150312T000000,530000.0,5,2.00,1810,4850,1.5,0,0,...,7,1810,0,1900,0,98107,47.6700,-122.394,1360,4850
10,10,20150124T000000,650000.0,4,3.00,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
11,11,20140731T000000,395000.0,3,2.00,1890,14040,2.0,0,0,...,7,1890,0,1994,0,98019,47.7277,-121.962,1890,14018
12,12,20140529T000000,485000.0,4,1.00,1600,4300,1.5,0,0,...,7,1600,0,1916,0,98103,47.6648,-122.343,1610,4300
13,13,20141205T000000,189000.0,2,1.00,1200,9850,1.0,0,0,...,7,1200,0,1921,0,98002,47.3089,-122.210,1060,5095
14,14,20150424T000000,230000.0,3,1.00,1250,9774,1.0,0,0,...,7,1250,0,1969,0,98003,47.3343,-122.306,1280,8850
15,15,20140514T000000,385000.0,4,1.75,1620,4980,1.0,0,0,...,7,860,760,1947,0,98133,47.7025,-122.341,1400,4980
16,16,20140826T000000,2000000.0,3,2.75,3050,44867,1.0,0,4,...,9,2330,720,1968,0,98040,47.5316,-122.233,4110,20336
17,17,20140516T000000,252700.0,2,1.50,1070,9643,1.0,0,0,...,7,1070,0,1985,0,98030,47.3533,-122.166,1220,8386
18,18,20141120T000000,329000.0,3,2.25,2450,6500,2.0,0,0,...,8,2450,0,1985,0,98030,47.3739,-122.172,2200,6865
19,19,20141103T000000,233000.0,3,2.00,1710,4697,1.5,0,0,...,6,1710,0,1941,0,98002,47.3048,-122.218,1030,4705
20,20,20140626T000000,937000.0,3,1.75,2450,2691,2.0,0,0,...,8,1750,700,1915,0,98119,47.6386,-122.360,1760,3573
21,21,20141201T000000,667000.0,3,1.00,1400,1581,1.5,0,0,...,8,1400,0,1909,0,98112,47.6221,-122.314,1860,3861
22,22,20141110T000000,580500.0,3,2.50,2320,3980,2.0,0,0,...,8,2320,0,2003,0,98027,47.5391,-122.070,2580,3980
23,23,20140624T000000,687500.0,4,1.75,2330,5000,1.5,0,0,...,7,1510,820,1929,0,98117,47.6823,-122.368,1460,5000
24,24,20141110T000000,535000.0,3,1.00,1090,3000,1.5,0,0,...,8,1090,0,1929,0,98117,47.6889,-122.375,1570,5080
25,25,20141203T000000,322500.0,4,2.75,2060,6659,1.0,0,0,...,7,1280,780,1981,0,98058,47.4276,-122.157,2020,8720
26,26,20140613T000000,696000.0,3,2.50,2300,3060,1.5,0,0,...,8,1510,790,1930,2002,98115,47.6827,-122.310,1590,3264
27,27,20141230T000000,640000.0,4,2.00,2360,6000,2.0,0,0,...,8,2360,0,1904,0,98107,47.6702,-122.362,1730,4700
28,28,20150213T000000,240000.0,4,1.00,1220,8075,1.0,0,0,...,7,890,330,1969,0,98001,47.3341,-122.282,1290,7800
29,29,20140620T000000,605000.0,4,2.50,2620,7553,2.0,0,0,...,8,2620,0,1996,0,98056,47.5301,-122.180,2620,11884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15005,15005,20140513T000000,330000.0,3,2.50,1450,5008,1.0,0,0,...,7,840,610,2007,0,98106,47.5435,-122.357,2120,5019
15006,15006,20150502T000000,608500.0,4,3.50,2850,5577,2.0,0,0,...,8,1950,900,2014,0,98056,47.5252,-122.192,2850,5708
15007,15007,20140520T000000,785000.0,4,3.50,3070,4684,2.0,0,0,...,10,2190,880,2009,0,98027,47.5316,-122.076,2290,2664
15008,15008,20140507T000000,610950.0,3,3.00,1680,1570,3.0,0,0,...,8,1680,0,2014,0,98103,47.6572,-122.346,1640,4800
15009,15009,20141111T000000,399950.0,3,2.50,3087,5002,2.0,0,0,...,8,3087,0,2014,0,98023,47.2974,-122.349,2927,5183
15010,15010,20150123T000000,579000.0,4,3.25,1900,2631,2.0,0,0,...,9,1250,650,2014,0,98144,47.5869,-122.311,1710,4502
15011,15011,20140623T000000,362500.0,2,1.50,940,1768,2.0,0,0,...,7,940,0,2009,0,98144,47.5925,-122.295,1130,1159
15012,15012,20140529T000000,645000.0,3,3.25,1730,1229,2.0,0,2,...,9,1320,410,2008,0,98119,47.6374,-122.369,1710,1686
15013,15013,20141003T000000,594866.0,3,3.00,2780,6000,2.0,0,0,...,9,2780,0,2013,0,98065,47.5184,-121.886,2850,6000
15014,15014,20141112T000000,490000.0,3,2.25,1500,1290,2.0,0,0,...,8,1220,280,2006,0,98117,47.6785,-122.375,1460,1375
15015,15015,20140610T000000,399950.0,2,1.00,710,1157,2.0,0,0,...,7,710,0,1943,0,98102,47.6413,-122.329,1370,1173
15016,15016,20140828T000000,270000.0,3,2.50,1870,5000,2.0,0,0,...,7,1870,0,2009,0,98042,47.3339,-122.055,2170,5399
15017,15017,20141015T000000,505000.0,2,2.50,1430,1201,3.0,0,0,...,8,1430,0,2009,0,98107,47.6707,-122.381,1430,1249
15018,15018,20150305T000000,385000.0,3,2.50,1520,1488,3.0,0,0,...,8,1520,0,2006,0,98125,47.7337,-122.309,1520,1497
15019,15019,20141113T000000,414500.0,2,1.50,1210,1278,2.0,0,0,...,8,1020,190,2007,0,98117,47.6756,-122.375,1210,1118
15020,15020,20140910T000000,347500.0,3,2.50,2540,4760,2.0,0,0,...,8,2540,0,2010,0,98038,47.3452,-122.022,2540,4571
15021,15021,20140514T000000,1222500.0,4,3.50,4910,9444,1.5,0,0,...,11,3110,1800,2007,0,98074,47.6502,-122.066,4560,11063
15022,15022,20150317T000000,1088000.0,5,3.75,4170,8142,2.0,0,2,...,10,4170,0,2006,0,98056,47.5354,-122.181,3030,7980
15023,15023,20141017T000000,350000.0,4,2.75,2500,5995,2.0,0,0,...,8,2500,0,2008,0,98042,47.3749,-122.107,2530,5988
15024,15024,20140813T000000,679950.0,5,2.75,3600,9437,2.0,0,0,...,9,3600,0,2014,0,98059,47.4822,-122.131,3550,9421
15025,15025,20150421T000000,1575000.0,4,3.25,3410,10125,2.0,0,0,...,10,3410,0,2007,0,98040,47.5653,-122.223,2290,10125
15026,15026,20140915T000000,810000.0,4,3.00,3990,7838,2.0,0,0,...,9,3990,0,2003,0,98053,47.6857,-122.046,3370,6814
15027,15027,20141015T000000,1537000.0,5,3.75,4470,8088,2.0,0,0,...,11,4470,0,2008,0,98004,47.6321,-122.200,2780,8964
15028,15028,20150407T000000,467000.0,3,2.50,1425,1179,3.0,0,0,...,8,1425,0,2008,0,98125,47.6963,-122.318,1285,1253
15029,15029,20140825T000000,507250.0,3,2.50,2270,5536,2.0,0,0,...,8,2270,0,2003,0,98065,47.5389,-121.881,2270,5731
15030,15030,20141014T000000,610685.0,4,2.50,2520,6023,2.0,0,0,...,9,2520,0,2014,0,98056,47.5137,-122.167,2520,6023
15031,15031,20150326T000000,1007500.0,4,3.50,3510,7200,2.0,0,0,...,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
15032,15032,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
15033,15033,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
15034,15034,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [106]:
train.drop(['date', 'id', 'zipcode', 'lat', 'long', 'condition', 'price'], axis=1)[:5]

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,7,1180,0,1955,0,1340,5650
1,2,1.00,770,10000,1.0,0,0,6,770,0,1933,0,2720,8062
2,3,2.00,1680,8080,1.0,0,0,8,1680,0,1987,0,1800,7503
3,3,2.25,1715,6819,2.0,0,0,7,1715,0,1995,0,2238,6819
4,3,1.50,1060,9711,1.0,0,0,7,1060,0,1963,0,1650,9711

In [2]:
def dataset(df):
    y = df[['price']]
    df = df.drop(['date', 'id', 'zipcode', 'lat', 'long', 'condition', 'price'], axis=1)
    changed_built = df['yr_built'].apply(lambda x: 2019-x)
    changed_renovate = df['yr_renovated'].apply(lambda x: 0 if x==0 else 2019-x)
    df.loc[:, ['yr_built']] = changed_built
    df.loc[:, ['yr_renovated']] = changed_renovate
    return df, y

In [3]:
x, y = dataset(train)
x[0:10]

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,7,1180,0,64,0,1340,5650
1,2,1.00,770,10000,1.0,0,0,6,770,0,86,0,2720,8062
2,3,2.00,1680,8080,1.0,0,0,8,1680,0,32,0,1800,7503
3,3,2.25,1715,6819,2.0,0,0,7,1715,0,24,0,2238,6819
4,3,1.50,1060,9711,1.0,0,0,7,1060,0,56,0,1650,9711
5,3,2.50,3560,9796,1.0,0,0,8,1860,1700,54,0,2210,8925
6,2,1.00,1160,6000,1.0,0,0,7,860,300,77,0,1330,6000
7,3,1.00,1430,19901,1.5,0,0,7,1430,0,92,0,1780,12697
8,3,1.75,1370,9680,1.0,0,0,7,1370,0,42,0,1370,10208
9,5,2.00,1810,4850,1.5,0,0,7,1810,0,119,0,1360,4850

In [369]:
x = torch.from_numpy(x.values).float()
y = torch.from_numpy(y.values).float()

In [316]:
x[:5]

tensor([[3.0000e+00, 1.0000e+00, 1.1800e+03, 5.6500e+03, 1.0000e+00, 0.0000e+00,
         0.0000e+00, 7.0000e+00, 1.1800e+03, 0.0000e+00, 6.4000e+01, 0.0000e+00,
         1.3400e+03, 5.6500e+03],
        [2.0000e+00, 1.0000e+00, 7.7000e+02, 1.0000e+04, 1.0000e+00, 0.0000e+00,
         0.0000e+00, 6.0000e+00, 7.7000e+02, 0.0000e+00, 8.6000e+01, 0.0000e+00,
         2.7200e+03, 8.0620e+03],
        [3.0000e+00, 2.0000e+00, 1.6800e+03, 8.0800e+03, 1.0000e+00, 0.0000e+00,
         0.0000e+00, 8.0000e+00, 1.6800e+03, 0.0000e+00, 3.2000e+01, 0.0000e+00,
         1.8000e+03, 7.5030e+03],
        [3.0000e+00, 2.2500e+00, 1.7150e+03, 6.8190e+03, 2.0000e+00, 0.0000e+00,
         0.0000e+00, 7.0000e+00, 1.7150e+03, 0.0000e+00, 2.4000e+01, 0.0000e+00,
         2.2380e+03, 6.8190e+03],
        [3.0000e+00, 1.5000e+00, 1.0600e+03, 9.7110e+03, 1.0000e+00, 0.0000e+00,
         0.0000e+00, 7.0000e+00, 1.0600e+03, 0.0000e+00, 5.6000e+01, 0.0000e+00,
         1.6500e+03, 9.7110e+03]])

In [370]:
y.shape

torch.Size([15035, 1])

In [371]:
y[:5]

tensor([[221900.],
        [180000.],
        [510000.],
        [257500.],
        [291850.]])

In [27]:
N, D_in, H, D_out = 4096,14,100,1

In [224]:
class OneLayerNet(torch.nn.Module):
    def __init__(self, D_in, D_out):
        super(OneLayerNet, self).__init__()
        self.linear1 = torch.nn.Linear(D_in, D_out)

    def forward(self, x):
        y_pred = self.linear1(x)
        return y_pred

In [225]:
class TwoLayerNet(torch.nn.Module):
    def __init__(self, D_in, H, D_out):
        super(TwoLayerNet, self).__init__()
        self.linear1 = torch.nn.Linear(D_in, H)
        self.linear2 = torch.nn.Linear(H, D_out)

    def forward(self, x):
        h_relu = self.linear1(x).clamp(min=0)
        y_pred = self.linear2(h_relu)
        return y_pred

In [20]:
class TLN(torch.nn.Module):
    def __init__(self, D_in, H, D_out):
        super(TLN, self).__init__()
        self.linear1 = torch.nn.Sequential(torch.nn.Linear(D_in, H, bias=False), torch.nn.BatchNorm1d(H))
        self.linear2 = torch.nn.Sequential(torch.nn.Linear(H, H, bias=False), torch.nn.BatchNorm1d(H))
        self.linear3 = torch.nn.Sequential(torch.nn.Linear(H, H, bias=False), torch.nn.BatchNorm1d(H))
        self.linear4 = torch.nn.Linear(H, D_out)

    def forward(self, x):
        h_relu = self.linear1(x).clamp(min=0)
        h_relu2 = self.linear2(h_relu).clamp(min=0)
        h_relu3 = self.linear3(h_relu2).clamp(min=0)
        y_pred = self.linear4(h_relu3)
        return y_pred

In [21]:
def weight_init(m):
    '''
    Usage:
        model = Model()
        model.apply(weight_init)
    '''
    if isinstance(m, torch.nn.Conv2d):
        init.xavier_normal_(m.weight.data)
        if m.bias is not None:
            init.zeros_(m.bias.data)
    elif isinstance(m, torch.nn.Linear):
        init.xavier_normal_(m.weight.data)
        if m.bias is not None:
            init.zeros_(m.bias.data)

In [28]:
model = TLN(D_in, H, D_out)
model.apply(weight_init)
# model = TwoLayerNet(D_in, H, D_out)

TLN(
  (linear1): Sequential(
    (0): Linear(in_features=14, out_features=100, bias=False)
    (1): BatchNorm1d(100, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  )
  (linear2): Sequential(
    (0): Linear(in_features=100, out_features=100, bias=False)
    (1): BatchNorm1d(100, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  )
  (linear3): Sequential(
    (0): Linear(in_features=100, out_features=100, bias=False)
    (1): BatchNorm1d(100, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  )
  (linear4): Linear(in_features=100, out_features=1, bias=True)
)

In [54]:
criterion = torch.nn.MSELoss(reduction='mean')
# optimizer = torch.optim.SGD(model.parameters(), lr=0.1)
optimizer = torch.optim.Adam(model.parameters(), lr=0.1)

In [44]:
x, y = dataset(train)
x = torch.from_numpy(x.values).float()
y = torch.from_numpy(y.values).float()

In [45]:
N = 256

In [55]:
for t in range(500):
    model.train()
    index = np.random.choice(15035, N, replace=False)
    y_pred = model(x)
    loss = criterion(y_pred, y)*1e-5
    if t % 10 == 0:
#         print(y_pred[0])
#         print(y[index][0])
        print(t, loss.item())
    # Zero gradients, perform a backward pass, and update the weights.
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

0 454032.28125
10 451632.6875
20 448021.03125
30 445015.5625
40 442333.75
50 439912.1875
60 437395.15625
70 434866.0
80 433025.90625
90 430474.875
100 427435.1875
110 424330.53125
120 421242.71875
130 417684.59375
140 414273.53125
150 411486.65625
160 409738.28125
170 408986.03125
180 404060.9375
190 401918.46875
200 400190.75
210 399632.9375
220 397113.0
230 391722.78125
240 395513.4375
250 389810.125
260 387860.71875
270 383510.96875
280 381181.375
290 382272.71875
300 378406.0
310 381687.09375
320 375678.28125
330 372085.625
340 373822.09375
350 376409.3125
360 367181.3125
370 369205.53125
380 368768.59375
390 365326.375
400 364519.375
410 370472.5
420 363049.3125
430 359474.09375
440 362395.84375
450 358083.4375
460 355257.25
470 357321.9375
480 352600.78125
490 347999.90625

In [57]:
model(x).shape

torch.Size([15035, 1])

In [58]:
model(x)

tensor([[367803.7188],
        [330828.6562],
        [352604.9062],
        ...,
        [495495.8750],
        [426194.7500],
        [350660.1250]], grad_fn=<AddmmBackward>)

In [62]:
def testset(df):
    df = df.drop(['date', 'id', 'zipcode', 'lat', 'long', 'condition'], axis=1)
    changed_built = df['yr_built'].apply(lambda x: 2019-x)
    changed_renovate = df['yr_renovated'].apply(lambda x: 0 if x==0 else 2019-x)
    df.loc[:, ['yr_built']] = changed_built
    df.loc[:, ['yr_renovated']] = changed_renovate
    return df

In [66]:
x_test = testset(test)
x_test = torch.from_numpy(x_test.values).float()

In [73]:
ret = model(x_test)

In [78]:
np.set_printoptions(formatter={'float_kind':'{:f}'.format})

In [80]:
myfile = open('./result','ab')
np.savetxt("result.txt", ret.detach().numpy(), fmt='%f')
myfile.close()

In [229]:
model_one_layer = OneLayerNet(D_in, D_out)
model_two_layer = TwoLayerNet(D_in, H, D_out)

In [228]:
model_one_layer.forward(x)

tensor([[ -11.6816],
        [ 683.5372],
        [ 119.6052],
        ...,
        [ -54.4877],
        [-400.4066],
        [ -48.3118]], grad_fn=<AddmmBackward>)

In [236]:
model_two_layer.forward(x)

tensor([[283.6677],
        [328.0321],
        [401.4743],
        ...,
        [241.4504],
        [474.9030],
        [175.9978]], grad_fn=<AddmmBackward>)

In [237]:
y

tensor([[221900.],
        [180000.],
        [510000.],
        ...,
        [360000.],
        [400000.],
        [325000.]])

In [233]:
loss = criterion(model_one_layer.forward(x), y)
loss

tensor(6.4621e+15, grad_fn=<MseLossBackward>)

In [227]:
criterion = torch.nn.MSELoss(reduction='sum')
optimizer = torch.optim.SGD(model_one_layer.parameters(), lr=1e-10)

In [250]:
criterion = torch.nn.MSELoss(reduction='mean')
optimizer = torch.optim.SGD(model_two_layer.parameters(), lr=1e-30)

In [251]:
for t in range(500):
    y_pred = model_two_layer(x)

    # Compute and print loss
    loss = criterion(y_pred, y)
    print(t, loss.item())

    # Zero gradients, perform a backward pass, and update the weights.
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

0 nan
1 nan
2 nan
3 nan
4 nan
5 nan
6 nan
7 nan
8 nan
9 nan
10 nan
11 nan
12 nan
13 nan
14 nan
15 nan
16 nan
17 nan
18 nan
19 nan
20 nan
21 nan
22 nan
23 nan
24 nan
25 nan
26 nan
27 nan
28 nan
29 nan
30 nan
31 nan
32 nan
33 nan
34 nan
35 nan
36 nan
37 nan
38 nan
39 nan
40 nan
41 nan
42 nan
43 nan
44 nan
45 nan
46 nan
47 nan
48 nan
49 nan
50 nan
51 nan
52 nan
53 nan
54 nan
55 nan
56 nan
57 nan
58 nan
59 nan
60 nan
61 nan
62 nan
63 nan
64 nan
65 nan
66 nan
67 nan
68 nan
69 nan
70 nan
71 nan
72 nan
73 nan
74 nan
75 nan
76 nan
77 nan
78 nan
79 nan
80 nan
81 nan
82 nan
83 nan
84 nan
85 nan
86 nan
87 nan
88 nan
89 nan
90 nan
91 nan
92 nan
93 nan
94 nan
95 nan
96 nan
97 nan
98 nan
99 nan
100 nan
101 nan
102 nan
103 nan
104 nan
105 nan
106 nan
107 nan
108 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
116 nan
117 nan
118 nan
119 nan
120 nan
121 nan
122 nan
123 nan
124 nan
125 nan
126 nan
127 nan
128 nan
129 nan
130 nan
131 nan
132 nan
133 nan
134 nan
135 nan
136 nan
137 nan
138 nan
139 nan
140 nan
141 nan
142 nan
143 nan
144 nan
145 nan
146 nan
147 nan
148 nan
149 nan
150 nan
151 nan
152 nan
153 nan
154 nan
155 nan
156 nan
157 nan
158 nan
159 nan
160 nan
161 nan
162 nan
163 nan
164 nan
165 nan
166 nan
167 nan
168 nan
169 nan
170 nan
171 nan
172 nan
173 nan
174 nan
175 nan
176 nan
177 nan
178 nan
179 nan
180 nan
181 nan
182 nan
183 nan
184 nan
185 nan
186 nan
187 nan
188 nan
189 nan
190 nan
191 nan
192 nan
193 nan
194 nan
195 nan
196 nan
197 nan
198 nan
199 nan
200 nan
201 nan
202 nan
203 nan
204 nan
205 nan
206 nan
207 nan
208 nan
209 nan
210 nan
211 nan
212 nan
213 nan
214 nan
215 nan
216 nan
217 nan
218 nan
219 nan
220 nan
221 nan
222 nan
223 nan
224 nan
225 nan
226 nan
227 nan
228 nan
229 nan
230 nan
231 nan
232 nan
233 nan
234 nan
235 nan
236 nan
237 nan
238 nan
239 nan
240 nan
241 nan
242 nan
243 nan
244 nan
245 nan
246 nan
247 nan
248 nan
249 nan
250 nan
251 nan
252 nan
253 nan
254 nan
255 nan
256 nan
257 nan
258 nan
259 nan
260 nan
261 nan
262 nan
263 nan
264 nan
265 nan
266 nan
267 nan
268 nan
269 nan
270 nan
271 nan
272 nan
273 nan
274 nan
275 nan
276 nan
277 nan
278 nan
279 nan
280 nan
281 nan
282 nan
283 nan
284 nan
285 nan
286 nan
287 nan
288 nan
289 nan
290 nan
291 nan
292 nan
293 nan
294 nan
295 nan
296 nan
297 nan
298 nan
299 nan
300 nan
301 nan
302 nan
303 nan
304 nan
305 nan
306 nan
307 nan
308 nan
309 nan
310 nan
311 nan
312 nan
313 nan
314 nan
315 nan
316 nan
317 nan
318 nan
319 nan
320 nan
321 nan
322 nan
323 nan
324 nan
325 nan
326 nan
327 nan
328 nan
329 nan
330 nan
331 nan
332 nan
333 nan
334 nan
335 nan
336 nan
337 nan
338 nan
339 nan
340 nan
341 nan
342 nan
343 nan
344 nan
345 nan
346 nan
347 nan
348 nan
349 nan
350 nan
351 nan
352 nan
353 nan
354 nan
355 nan
356 nan
357 nan
358 nan
359 nan
360 nan
361 nan
362 nan
363 nan
364 nan
365 nan
366 nan
367 nan
368 nan
369 nan
370 nan
371 nan
372 nan
373 nan
374 nan
375 nan
376 nan
377 nan
378 nan
379 nan
380 nan
381 nan
382 nan
383 nan
384 nan
385 nan
386 nan
387 nan
388 nan
389 nan
390 nan
391 nan
392 nan
393 nan
394 nan
395 nan
396 nan
397 nan
398 nan
399 nan
400 nan
401 nan
402 nan
403 nan
404 nan
405 nan
406 nan
407 nan
408 nan
409 nan
410 nan
411 nan
412 nan
413 nan
414 nan
415 nan
416 nan
417 nan
418 nan
419 nan
420 nan
421 nan
422 nan
423 nan
424 nan
425 nan
426 nan
427 nan
428 nan
429 nan
430 nan
431 nan
432 nan
433 nan
434 nan
435 nan
436 nan
437 nan
438 nan
439 nan
440 nan
441 nan
442 nan
443 nan
444 nan
445 nan
446 nan
447 nan
448 nan
449 nan
450 nan
451 nan
452 nan
453 nan
454 nan
455 nan
456 nan
457 nan
458 nan
459 nan
460 nan
461 nan
462 nan
463 nan
464 nan
465 nan
466 nan
467 nan
468 nan
469 nan
470 nan
471 nan
472 nan
473 nan
474 nan
475 nan
476 nan
477 nan
478 nan
479 nan
480 nan
481 nan
482 nan
483 nan
484 nan
485 nan
486 nan
487 nan
488 nan
489 nan
490 nan
491 nan
492 nan
493 nan
494 nan
495 nan
496 nan
497 nan
498 nan
499 nan